body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif
}

.navbar-default {
    background-color: transparent !important;
    border: 0px !important;
}

.nav-links a {
    color: black !important;
    font-size: 18px !important
}

.navbar-right {
    margin-top: 80px !important;
}

.nav-links a:hover {
    color: grey !important
}

/* .banner {
    height: auto;
    width: 100%;
    height: 600px;
    background-image: url(../images/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-overlay {
    width: 100%;
    min-height: 600px;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

.bannerTop {
    height: auto;
    width: 100%;
    min-height: 550px;
    background-image: url(../images/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerTop-overlay {
    width: 100%;
    min-height: 550px;
    color: white;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.80);
} */

#qoute {
    margin-left: 30px
}

.bannerAbout {
    height: auto;
    width: 100%;
    min-height: 500px;
    background-image: url(../images/about-banner.jpg);
    /* background: #009955; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 50px; */
    /* text-align: center; */
    /* align-items: center !important; */
    /* align-content: center; */
    /* opacity: 0.8; */

}

.bannerAbout-overlay{
    height: auto;
    width: 100%;
    min-height: 500px;
    /* background-image: url(../images/main-bg-8.jpg); */
    /* background: #009955; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    /* text-align: center; */
    /* align-items: center !important; */
    /* align-content: center; */
     /* opacity: 0.6; */
     background: rgba(0, 153, 85,0.9);
     
} 


.aboutDiv{
    text-align:center;
    color:white !important;
    /* opacity: 1 !important; */
    /* background: white; */
    padding: 20px;
    min-height: 500px;
    /* border-radius: 5px; */
    /* margin-top: 20px;  */
    /* width: 50%; */
}
.bannerTeam{
    height: auto;
    width: 100%;
    min-height: 500px;

}
.bannerTeam-overlay{
    height: auto;
    width: 100%;
    }

.info{
    font-size: 18px !important;
}

/* .bannerAbout-overlay {
    width: 100%;
    min-height: 750px;
    color: white;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.20);
} */
.customDiv{
    background-color: antiquewhite;
    padding: 20px;
    min-height: 300px;
    margin: 20px;
}

.teamDiv{
    text-align: center;
    padding: 100px;
}

.test{
    /* width: 100%; */
    /* height: 200px; */
}

.img-box{
    width 100%;
    height 160px;
    border-radius 6px;
    overflow hidden;
    margin-left auto;
    margin-right auto;
    margin-bottom -86px;
    z-index 5;
    
}
.team-body{
    width 100%;
    padding-top 100px;
    padding-bottom 24px;
    background #FFFFFF;
    border-radius 6px;
    box-shadow 0px 1px 10px rgba(29,34,47,0.1);
    text-align center;
    -webkit-transition all 200ms ease;
    -moz-transition all 200ms ease;
    -ms-transition all 200ms ease;
    -o-transition all 200ms ease;
    transition all 200ms ease;
}
.team-item{
    padding-left 6px;
    padding-right 6px;
    width 100%;
}
.team-info{
    display: no


}
.team-title a{
     font-family 'Roboto Slab', serif; 
    font-size 20px;
    font-weight 700;
    color #384158;
    -webkit-transition all 200ms ease;
    -moz-transition all 200ms ease;
    -ms-transition all 200ms ease;
    -o-transition all 200ms ease;
    transition all 200ms ease;
}
.team-subtitle{
    font-size 14px;
    font-weight 400;
    color #76777a;
    margin-top 6px;
}
.imgMargin
{
    margin-top 60px;
}

.Animation {
    /* background: #09f3a5; */
    background: white;
    position: relative;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.title {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 50px;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: 1px solid #121312;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #0c0c0c;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    top: 40vh;
    left: 25vw;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 80vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(360deg) translate(-50%, -50%);
        opacity: 0;
    }
}